name: build

on:
  workflow_call:

jobs:
  ci:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v6
      - name: corepack
        run: npm i -g corepack
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: install
        run: yarn
      - name: lint
        run: yarn lint
      - name: format
        run: yarn format --check
      - name: build
        run: yarn build
      - name: test
        run: yarn test
